img{height: 80px;
    width: auto;
    text-align: left;   
}
h1 {
    text-align: center;
}

body{
    color: #f5f5f5;
    margin-left:100px;
    background-color: #BF373F ;
    font-family: Arial, Helvetica, sans-serif;
       
}